flows/Create_DLRS_from_Template.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_DLRS_0</name>
        <label>Create DLRS</label>
        <locationX>163</locationX>
        <locationY>537</locationY>
        <actionName>UpdateCMD</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__data</typeName>
            <typeValue>dlrs__LookupRollupSummary2__mdt</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>data</name>
            <value>
                <elementReference>scol_AllDLRS</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>416</locationX>
        <locationY>548</locationY>
        <assignmentItems>
            <assignToReference>scol_AllDLRS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>svar_ThisDLRS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Template</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_DLRS_Values</name>
        <label>Set DLRS Values</label>
        <locationX>402</locationX>
        <locationY>224</locationY>
        <assignmentItems>
            <assignToReference>svar_ThisDLRS.DeveloperName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Template.Lookup_Rollup_Summary_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svar_ThisDLRS.dlrs__Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Template.Active__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svar_ThisDLRS.dlrs__AggregateAllRows__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Template.Aggregate_All_Rows__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svar_ThisDLRS.dlrs__AggregateOperation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Template.Aggregate_Operation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svar_ThisDLRS.dlrs__AggregateResultField__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Template.Aggregate_Result_Field__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svar_ThisDLRS.dlrs__CalculationMode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Template.Calculation_Mode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svar_ThisDLRS.dlrs__CalculationSharingMode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Template.Calculation_Sharing_Mode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svar_ThisDLRS.dlrs__ChildObject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Template.Child_Object__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svar_ThisDLRS.dlrs__ConcatenateDelimiter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Template.Concatenate_Delimiter__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svar_ThisDLRS.dlrs__Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Template.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svar_ThisDLRS.dlrs__FieldToAggregate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Template.Field_to_Aggregate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svar_ThisDLRS.dlrs__FieldToOrderBy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Template.Field_to_Order_By__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svar_ThisDLRS.dlrs__ParentObject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Template.Parent_Object__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svar_ThisDLRS.dlrs__RelationshipCriteria__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Template.Relationship_Criteria__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svar_ThisDLRS.dlrs__RelationshipCriteriaFields__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Template.Relationship_Criteria_Fields__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svar_ThisDLRS.dlrs__RelationshipField__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Template.Relationship_Field__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svar_ThisDLRS.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Template.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Create DLRS from Template {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create DLRS from Template</label>
    <loops>
        <name>Loop_Through_Template</name>
        <label>Loop Through Template</label>
        <locationX>65</locationX>
        <locationY>383</locationY>
        <collectionReference>Get_Templates</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_DLRS_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_DLRS_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Templates</name>
        <label>Get Templates</label>
        <locationX>50</locationX>
        <locationY>140</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Template</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DLRS_Template__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>525</locationX>
        <locationY>179</locationY>
        <connector>
            <targetReference>Get_Templates</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>scol_AllDLRS</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>dlrs__LookupRollupSummary2__mdt</objectType>
    </variables>
    <variables>
        <name>svar_ThisDLRS</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>dlrs__LookupRollupSummary2__mdt</objectType>
    </variables>
</Flow>
